<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow">
                <div class="card-header bg-success text-white">
                    <h4 class="mb-0">Update Student</h4>
                </div>

                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label class="form-label">Full Name</label>
                            <input type="text" name="name" class="form-control" Value="{{ student.name }}" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Course</label>
                            <select name="course" class="form-select" required>
                                <option value="">diabled select>{% if student.course == ''%} selected{% endif %}Select Course</option>
                                <option value= {% if student.course == "Computer Science" %}selected{% endif %}>Computer Science</option>
                                <option value="Information Technology" {% if student.course == "Information Technology" %}selected{% endif %}>Information Technology</option>
                                <option value="Software Engineering" {% if student.course == "Software Engineering" %}selected{% endif %}>Software Engineering</option>
                                <option value="Web Development" {% if student.course == "Web Development" %}selected{% endif %}>Web Development</option>
                                <option value="Data Science" {% if student.course == "Data Science" %}selected{% endif %}>Data Science</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Age</label>
                            <input type="number" name="age" class="form-control" Value="{{ student.age }}" required>
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label">Gender</label>
                            <select name="gender" class="form-select" required>
                            <option value="">Select Gender</option>
                            <option value="M" {% if student.gender == "M" %}selected{% endif %}>Male</option>
                            <option value="F" {% if student.gender == "F" %}selected{% endif %}>Female</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Email</label>
                              <input type="email" name="email" class="form-control" Value="{{ student.email }}"  required>
                        </div><div class="container mt-5">

                        <div class="d-flex justify-content-between">
                            <a href="{% url 'dashboard' %}" class="btn btn-secondary">Cancel</a>
                            <button type="submit" class="btn btn-success">Save Student</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>